.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .social:hover {
    transform: scale(1.1);
  }

  [data-theme='light'] .social:hover {
    filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.7));
  }

  [data-theme='dark'] .social:hover {
    filter: drop-shadow(3px 3px 2px rgb(255 255 255 / 0.7));
  }

  .social svg {
    transition: transform 0.3s ease;
  }

  .social:hover svg {
    transform: scale(1.15);
  }
}
